// =============================================================================
// Base
// =============================================================================

body {
	font-family: $font-family--secondary;
}

a {

	&:hover, &:focus {
		text-decoration: none;
	}
}

h1 {
	margin-bottom: 0;
	font-size: 62px;

	a & {
		font-family: $font-family--primary;
		color: $color--text;
	}
}

#header {
	padding: 20px 0;
	background-color: $color--background;

	.brand {
		max-width: 340px;
		margin: 0 auto;

		img {
			float: left;
			max-width: 100px;
			height: auto;
			display: block;
			margin: 0 20px 0 0;
			position: relative;
			top: -8px;
		}
	}
}
